/* 	***	Sunset Miami ***
	Code created by Luke Boothby
	Assets created by Justin Leff  */


/* To Do: Prevent links from overlapping when window is resized.
		  Put divs into a container to scale better. */

@font-face {
  font-family: 'BALLSONTHERAMPAGE';
  src: url('../fonts/BALLSONTHERAMPAGE.eot');
  src: url('../fonts/BALLSONTHERAMPAGE.woff2') format('woff2'),
       url('../fonts/BALLSONTHERAMPAGE.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ballsontherampage';
  src: url('../fonts/Ballsontherampage.woff') format('woff'),
       url('../fonts/Ballsontherampage.ttf') format('truetype'),
       url('../fonts/Ballsontherampage.svg#Ballsontherampage') format('svg');
  font-weight: normal;
  font-style: normal;
}


html { 
  background: url('../images/Title-Bold.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div{
	position: absolute;
	padding: auto;
	margin: auto;

}

ul{
	padding: auto;
	margin: auto;
	float: left;
}

li{
	padding: auto;
	margin: auto;
	content: "•";
	display: block;
	color: #33E9FF;
	font-size: 3.9em;
	white-space: none;
}

li:hover{
	font-size: 4em;
}

a{
	font-family: 'Ballsontherampage';
	font-variant: small-caps;
	text-decoration: none!important;
	color: white;
}

#campaign{
	top: 75%;
	left: 31%;
}

#professions{
	top: 84%;
	left: 38%;	
}

#crew{
	top: 75%;
	left: 50%;	
}

#mixtapes{
	top: 84%;
	left: 56%;
}