/* 	***	Sunset Miami ***
	Code created by Luke Boothby
	Assets created by Justin Leff  */


/* To Do: Get .psd file or separate assets (no-text background etc) from Justin
		  Get font to correctly load.  */

@font-face {
  font-family: 'BALLSONTHERAMPAGE';
  src: url('../fonts/BALLSONTHERAMPAGE.eot');
  src: url('../fonts/BALLSONTHERAMPAGE.woff2') format('woff2'),
       url('../fonts/BALLSONTHERAMPAGE.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ballsontherampage';
  src: url('../fonts/Ballsontherampage.woff') format('woff'),
       url('../fonts/Ballsontherampage.ttf') format('truetype'),
       url('../fonts/Ballsontherampage.svg#Ballsontherampage') format('svg');
  font-weight: normal;
  font-style: normal;
}


html { 
  background: url('../images/Sunsets.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul{
	float: left;

}

li{
	content: "•";
	color: #33E9FF;
	font-size: 4em;
	white-space: nowrap;
}

li:hover{
	font-size: 4.2em;
}

a{
	font-family: 'Ballsontherampage';
	font-variant: small-caps;
	text-decoration: none!important;
	color: white;
}


#campaign{
	position: absolute;
	top: 75%;
	left: 25%;
}

#options{
	position: absolute;
	top: 75%;
	left: 38%;	
}

#crew{
	position: absolute;
	top: 75%;
	left: 50%;	
}

#loadout{
	position: absolute;
	top: 75%;
	left: 63%;
}

#casefiles{
	position: absolute;
	top: 81%;
	left: 32%;	
}

#audiotapes{
	position: absolute;
	top: 81%;
	left: 56%;	
}