/* 	***	Sunset Miami ***
	Code created by Luke Boothby
	Assets created by Justin Leff  */


/* To Do: Prevent links from overlapping when window is resized.
		  Put divs into a container to scale better. */

@font-face {
  font-family: 'BALLSONTHERAMPAGE';
  src: url('../fonts/BALLSONTHERAMPAGE.eot');
  src: url('../fonts/BALLSONTHERAMPAGE.woff2') format('woff2'),
       url('../fonts/BALLSONTHERAMPAGE.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ballsontherampage';
  src: url('../fonts/Ballsontherampage.woff') format('woff'),
       url('../fonts/Ballsontherampage.ttf') format('truetype'),
       url('../fonts/Ballsontherampage.svg#Ballsontherampage') format('svg');
  font-weight: normal;
  font-style: normal;
}


html { 
  background: url('../images/Title-Blank.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.hidden
{
    display: none
}

div.hidden2
{
    display: none
}

div.hidden3
{
    display: none
}


ul{
	padding: auto;
	margin: auto;
	float: left;
}

li{
	padding: auto;
	margin: auto;
	content: "•";
	display: block;
	color: #33E9FF;
	font-size: 3.9em;
	white-space: none;
}

li:hover{
	font-size: 4em;
}

a{
	font-family: 'Ballsontherampage';
	font-variant: small-caps;
	text-decoration: none!important;
	color: white;
}


#text{
	position: absolute;
	padding: auto;
	margin: auto;
	top: 22%;
	left: 24%;
}

#gun{
	position: absolute;
	padding: auto;
	margin: auto;
	top: 19.5%;
	left: 63%;
}

#birds{
	position: absolute;
	padding: auto;
	margin: auto;
	top: 41%;
	left: 58%;
}


#campaign{
	position: absolute;
	padding: auto;
	margin: auto;
	top: 75%;
	left: 35%;
}


#professions{
	position: absolute;
	padding: auto;
	margin: auto;
	top: 75%;
	left: 55%;	
}


#armory{
	position: absolute;
	padding: auto;
	margin: auto;
	top: 84%;
	left: 30%;
}


#crew{
	position: absolute;
	padding: auto;
	margin: auto;
	top: 84%;
	left: 45%;	
}

#mixtapes{
	position: absolute;
	padding: auto;
	margin: auto;
	top: 84%;
	left: 60%;
}