
/* Make the background image for the page responsive. */
html { 
  background: url('../images/Title-Profession.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* This right here is magic at work. */
img {
	display: block;
 	max-width: 100%;
	height: auto;
}


/* Temporary placement. Fixed to the bottom right of browser. */
#home {
  position: fixed;
  top: 90%;
  left: 90%;
}

/*  Container needed to position the images. */
#picContainer {
    position: relative;
    width: 40%;
}


.picture {
  position: absolute;
  cursor: pointer;
  left: 10%;
}

.picture:hover {
    background-color: #862683;
    background-image: linear-gradient(to right, #713153 20%, #b56c24 100%);
}

/* Position them divs */
#Closer {
  top: 50px;

}

#Detective {
  top: 150px;

}


#HiredGun {
  top: 250px;

}

#Mastermind {
  top: 350px;

}

#Muscle {
  top: 450px;

}

#Pyromaniac {
  top: 550px;

}

#Tech {
  top: 650px;

}

#Thief {
  top: 750px;

}

/* This kinda works but doesn't scale nicely with the other images. */
#infoContainer {
  position: fixed;
  width: 50%;
  left: 50%;
}

#infoPanel {
  position: relative;
  width: 50%;
  left: 25%;
  top: 20px;
}