
/* Make the background image for the page responsive. */
html { 
  background: url('../images/Title-Profession.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Temporary placement. Fixed to the bottom right of browser. */
#home {
  position: fixed;
  top: 90%;
  left: 90%;
}

/*  Container needed to position the images. 
    By utilizing relative positioning with a container div,
    we can then use absolute positioning with the contained class .picture 
    and achieve responsive design. Images scale to their container rather than the entire page. */
.picContainer {
  position: relative;
  width: 100%;
  height: auto;
}

/* Make the images inside responsive or idk actually do anything?? */
.picture {
  position: absolute;
  top: 0;
  left: 0;

  /* Scale the image down - they're huge and we don't like that. Still not sure how to do this without affecting x,y positioning. */
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  cursor: pointer;

  /*  Padding and margins aren't working how I think they're supposed to work.
      Actually, nothing in here works how I think it's supposed to work. */

}

/* Container needed to position info image. */
.infoContainer {
  position: relative;

}

/* Make the info image responsive. */



