
/* Make the background image for the page responsive. */
html { 
  background: url('../images/Title-Profession.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Temporary placement. */
#home {
  position: fixed;
  top: 90%;
  left: 90%;
}

/* Container needed to position the images. */
.picContainer {
  position: relative;
  width: 100%;
  height: auto;
}

/* Make the images inside responsive or idk ACTUALLY DO SOMETHING */
.picture {
  /*  EVERYTHING SAYS POSITION MUST BE ABSOLUTE INSIDE OF A CONTAINER
      BUT LO AND BEHOLD SHIT COMPLETELY BREAKS AS SOON AS YOU DO THAT
      WHY DOES EVERY IMAGE SUDDENLY STACK?????????????????? */
  position: absolute;
  /* Scale the image down - they're huge and we don't like that. */
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  cursor: pointer;

  /* WHY DON'T MARGINS OR PADDING DO ANYTHING AAAAAAAAAAAHHHHHHHHHHHHHHHHHHH */

}

/* Container needed to position info image. */
.infoContainer {
  position: relative;
  top: 25%;
  left: 75%;

}

/* Make the info image responsive. */



